name: Sync to Hugging Face hub
on:
  push:
    branches: [main]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  sync-to-hub:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
          lfs: true
      
      - name: Configure git
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "github-actions"
      
      - name: Push to Hugging Face hub
        env:
          # You must add HF_TOKEN in GitHub -> Settings -> Secrets
          HF_TOKEN: ${{ secrets.HF_TOKEN }}
        run: |
          # This command pushes your code to your specific Space
          git remote add space https://ayushhgface25:$HF_TOKEN@huggingface.co/spaces/ayushhgface25/CRNN_MoodTracker
          git push space main --force